[Unit]
Description=Service running MyAPI persistently
After=network.target

[Service]
Environment=FLASK_APP=/opt/MyAPI/myapi.py
Environment=FLASK_DEBUG=1
ExecStart=/bin/bash -c "flask run --host=0.0.0.0"

[Install]
WantedBy=multi-user.target
